@import "tailwindcss";

@theme {
  --color-main-page-light: #FAFBFF;
  --color-header-light: #FFFFFF;
  --color-primary-light-text: #0C1024;
  --color-secondary-light-text: #27364B;
  --color-nav-light: #4B5669;
  --color-element-border-light: #ECF0F5;
  --color-active-element-light: #F1F4F9;
  --color-user-message-light: #6174D9;
  --color-new-message-light: #4C68D5;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #FAFBFF;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

#root {
  width: 100vw;
  min-height: 100vh;
}